# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Python / Alembic / FastAPI
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/
env/

# Environment Variables & Secrets
.env
.aws/

# Directory structure
directory_tree.txt

# test-events
services/control-plane/test-events/
test_login.py
test_login.py*.xlsx
services/control-plane/fastapi_backend.zip
services/control-plane/app/data/clinical_rules.json
